// color
$ligthGreen: #e3fae0;
$lightOrange: #fff6ea;
$lightGrey: #f3f3f3;
$green: #65d258;
$orange: #fa7921;
$text: #13094e;

// font-family
$display: "Nunito", sans-serif;
$body: "Roboto", sans-serif;

//font-weight
$thin: 300;
$normal: 400;
